* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
aside {
    width: 180px;
    height: 100vh;
    background-color: #040404;
    color: #b3b3b3;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
header {
    width: calc(100vw - 180px);
    height: 80px;
    background-color: #040404;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 180px;
}
main {
    background-color: #121212;
    height: 100vh;
    padding: 80px 0 0 180px;
    overflow-y: auto;
}
.logo-top {
    margin-top: 30px;
    margin-left: 18px;
    color: white;
}
.logo-top i {
    font-size: 30px;
    margin-bottom: 20px;
}
.logo-top p {
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: inline-block;
}
menu {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
}
menu i {
    font-size: 20px;
}
menu p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: inline-block;
    margin-left: 8px;
}
.ms--logo {
    margin-top: 20px;
}
.aggiungi-playlist {
    height: 30px;
    width: 30px;
    background-color: #b3b3b3;
    display: inline-block;
}
.aggiungi-playlist i {
    font-size: 25px;
    color: black;
    margin-left: 4px;
    margin-top: 3px;
}
.crea-playlist {
    margin: 20px 0;
}
.crea-playlist p {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}
.playlist {
    margin-top: 20px;
}
.nome-playlist ul {
    list-style-type: none;
}
ul li {
    margin-top: 8px;
    margin-left: -9px;
}
ul p {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.download-icon {
    margin-left: 18px;
}
.download-icon span {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-left: 8px;
}
.linea-divisore {
    width: 160px;
    height: 2px;
    background-color: #b3b3b3;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 8px;
}
.account-pers {
    margin-bottom: 6px;
}
.account-logo {
    height: 30px;
    width: 30px;
    background-color: #b3b3b3;
    border-radius: 50%;
}
.account-logo i {
    font-size: 20px;
    color: white;
    margin-left: 6px;
    margin-top: 3px;
}
.nome-utente p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 5px;
    color: white;
}
.account-logo,.nome-utente {
    display: inline-block;
}

/* header*/
.header-btn {
    width: 210px;
    height: 36px;
    background-color: #0b0b0b;
    position: absolute; right: 10px; top: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
.header-btn p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 34px;
    text-align: center;
}

/* main */
/* navbar */
.navbar {
    display: flex;
    justify-content: center;
}
.ms--link {
    height: 50px;
    margin-top: 25px;
}
.specific-link p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #b3b3b3;
    margin-right: 12px;
}
.yellow-line {
    width: 20px;
    height: 2px;
    background-color: #121212;
    text-align: center;
    margin-left: 26px;
}
.yellow-line2 {
    width: 20px;
    height: 2px;
    background-color: #121212;
    text-align: center;
    margin-left: 42px;
}
.yellow-line3 {
    width: 20px;
    height: 2px;
    background-color: #121212;
    text-align: center;
    margin-left: 15px;
}
.yellow-line:hover {
    background-color: yellow;
}
.yellow-line2:hover {
    background-color: yellow;
}
.yellow-line3:hover {
    background-color: yellow;
}
/* main content */
.recently h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 15px;
}
.first-card {
    width: 160px;
}
.first-card img {
    margin-left: 10px;
    width: 140px;
    height: 140px;
}
.first-card .artist-link {
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.first-card .sub-sub {
    text-align: center;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    color: #b3b3b3;
}
.artist-cards {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.for-me h3 {
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 15px;
}
.artist-cards-due {
    margin-top: 20px;
    display: flex;
}
.popular h3 {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 15px;
}
.popular p {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #b3b3b3;
    margin-left: 15px;
}
.artist-cards-tre {
    margin-top: 20px;
    display: flex;
}
.first-card-round img {
    margin-left: 10px;
    width: 140px;
    height: 140px;
    border-radius: 70px;
}
.first-card-round .artist-link {
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.first-card-round .sub-sub {
    text-align: center;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    color: #b3b3b3;
}
